{% extends 'base.html' %}
{% load static %}

{% block css %}
<style type="text/css">
    p {
        color: black;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Vendor Profile</h1>

    
</div>

<div class="row">
	<div class="col-xl-4 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 200px;">
	            <h5 class="my-3">{{data.name}}</h5>
	            <p class="text-muted mb-1">{{data.id}}</p>
	            <p class="text-muted mb-4">{{data.email}}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-12 mb-4 col-sm-12">
        <div class="card shadow h-100 py-2">
        	<div class="card-header">
        		<h5>Supplier Information</h5>
        	</div>
            <div class="card-body">
                <div class="row">
                	<div class="col-4">
                		<strong><p class="text-muted mb-1" style="color: black;">Company Name :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">Building :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">Road/Street :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">City/Town :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">Country :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">Year of operation :</p></strong>
                		<hr>
                		<strong><p class="text-muted mb-1" style="color: black;">KRA Pin No :</p></strong>
                        <hr>
                	</div>
                	<div class="col-8">
                		<p class="text-muted mb-1">{{data.name}}</p>
                		<hr>
                		<p class="text-muted mb-1"> - </p>
                		<hr>
                		<p class="text-muted mb-1">{{data.street}} {{data.zip}}</p>
                		<hr>
                		{% if data.city %}
                        <p class="text-muted mb-1">{{data.city}}</p>
                        <hr>
                        {% else %}
                        <p class="text-muted mb-1"> - </p>
                        <hr>
                        {% endif  %}
                		{% if data.country %}
                        <p class="text-muted mb-1">{{data.country}}</p>
                        <hr>
                        {% else %}
                        <p class="text-muted mb-1"> - </p>
                        <hr>
                        {% endif  %}
                		<p class="text-muted mb-1"> - </p>
                		<hr>
                        {% if data.vat %}
                		<p class="text-muted mb-1">{{data.vat}}</p>
                        <hr>
                        {% else %}
                        <p class="text-muted mb-1"> - </p>
                        <hr>
                        {% endif  %}
                	</div> 
                </div> 
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" data-toggle="modal" data-target="#supplierModal" data-toggle="tooltip" data-placement="top" title="Edit Supplier Information"style="float: right;">Edit Supplier Information</button>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
        	<div class="card-header">
        		<h5>Contact Information</h5>
        	</div>
            <div class="card-body">
                <div class="row">
                	<div class="col-6">
                		<p class="text-muted mb-1">Contact Person Name :</p>
                		<hr>
                		<p class="text-muted mb-1">Contact Person Email :</p>
                		<hr>
                		<p class="text-muted mb-1">Company Phone No. :</p>
                		<hr>
                		<p class="text-muted mb-1">Finance Contact Name :</p>
                		<hr>
                		<p class="text-muted mb-1">Finance Contact person email :</p>
                	</div>
                	<div class="col-6">
                		<p class="text-muted mb-1">Contact Person Title :</p>
                		<hr>
                		<p class="text-muted mb-1">Contact Person Phone No :</p>
                		<hr>
                		<p class="text-muted mb-1">Company Email :</p>
                		<hr>
                		<p class="text-muted mb-1">Finance Phone No :</p>
                		<hr>
                		<p class="text-muted mb-1">Company Website :</p>
                	</div>
                	<div class="col-12">
                		
                	</div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal" data-toggle="tooltip" data-placement="top" title="Edit Contact Information" style="float: right;">Edit Contact Information</button>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-header">
                <h5>Account Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted mb-1">Account Name: </p>
                        <hr>
                        <p class="text-muted mb-1">Bank Name: {{bank.bank_name}}</p>
                        <hr>
                        <p class="text-muted mb-1">Bank Code: {{bank.bank_code}}</p>
                        <hr>
                        <p class="text-muted mb-1">Bank Address: {{bank.address}}</p>
                        <hr>
                        <p class="text-muted mb-1">Recepient Address: </p>
                        <hr>
                        <p class="text-muted mb-1">M-Pesa Paybill No: </p>
                    </div>
                    <div class="col-6">
                        <p class="text-muted mb-1">Account No: {{bank.account_number}}</p>
                        <hr>
                        <p class="text-muted mb-1">Bank Branch: {{bank.branch_name}}</p>
                        <hr>
                        <p class="text-muted mb-1">Bank Branch Code: {{bank.branch_code}}</p>
                        <hr>
                        <p class="text-muted mb-1">Currency: {{bank.currency}}</p>
                        <hr>
                        <p class="text-muted mb-1">MPesa Till: </p>
                        <hr>
                        <p class="text-muted mb-1">Paybill option Acc No.: </p>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" data-toggle="modal" data-target="#accountModal" data-toggle="tooltip" data-placement="top" title="Edit Account Information" style="float: right;">Edit Account Information</button>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-header">
                <h5>Company Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted mb-1">Director Name: {{data.company_details}}</p>
                        <hr>
                        <p class="text-muted mb-1">Director Identification: {{data.director_id}}</p>
                        <hr>
                        <p class="text-muted mb-1">Company CR12: {{data.cr12_bn3}}</p>
                        <hr>
                        <p class="text-muted mb-1">Industry: {{data.company_details}}</p>
                        <hr>
                    </div>
                    <div class="col-6">
                        <p class="text-muted mb-1">Incorporation Certificate: {{data.incorporation_cert}}</p>
                        <hr>
                        <p class="text-muted mb-1">Business Permit: {{data.business_permit}}</p>
                        <hr>
                        <p class="text-muted mb-1">KRA Certficate: {{data.kra_certificate}}</p>
                        <hr>
                        <p class="text-muted mb-1">Tax Compliance: {{data.tax_compliance}}</p>
                        <hr>
                        
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"  style="float: right;">Edit Company Information</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
<!-- Modal -->
    <div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Supplier Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" class="user" id="supplierForm" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="form-group">
                    {{supplier_form.company_name}}
                </div>
                <div class="form-group">
                    {{supplier_form.building}}
                </div>
                <div class="form-group">
                    {{supplier_form.road}}
                </div>
                <div class="form-group">
                    {{supplier_form.street}}
                </div>
                <div class="form-group">
                    {{supplier_form.city}}
                </div>
                <div class="form-group">
                    {{supplier_form.country}}
                </div>
                <div class="form-group">
                    {{supplier_form.years_of_operations}}
                </div>
                <div class="form-group">
                    {{supplier_form.kra_pin}}
                </div>
                 
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Contact Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" class="user" id="supplierForm" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="form-group">
                    {{contact_form.contact_person_name}}
                </div>
                <div class="form-group">
                    {{contact_form.contact_person_title}}
                </div>
                <div class="form-group">
                    {{contact_form.contact_person_email}}
                </div>
                <div class="form-group">
                    {{contact_form.contact_person_phone_number}}
                </div>
                <div class="form-group">
                    {{contact_form.company_phone_number}}
                </div>
                <div class="form-group">
                    {{contact_form.company_email}}
                </div>
                <div class="form-group">
                    {{contact_form.finance_person_name}}
                </div>
                <div class="form-group">
                    {{contact_form.finance_person_email}}
                </div>
                <div class="form-group">
                    {{contact_form.finance_person_phone_number}}
                </div>
                <div class="form-group">
                    {{contact_form.company_website}}
                </div>
                 
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Account Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" class="user" id="supplierForm" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="form-group">
                    {{account_form.account_number}}
                </div>
                <div class="form-group">
                    {{account_form.account_holder_name}}
                </div>
                <div class="form-group">
                    {{account_form.bank_name}}
                </div>
                <div class="form-group">
                    {{account_form.branch_name}}
                </div>
                <div class="form-group">
                    {{account_form.bank_code}}
                </div>
                <div class="form-group">
                    {{account_form.branch_code}}
                </div>
                <div class="form-group">
                    {{account_form.currency}}
                </div>
                 
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Company Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" class="user" id="supplierForm" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="form-group">
                    {{company_form.company_name}}
                </div>
                <div class="form-group">
                    {{company_form.building}}
                </div>
                <div class="form-group">
                    {{company_form.road}}
                </div>
                <div class="form-group">
                    {{company_form.street}}
                </div>
                <div class="form-group">
                    {{company_form.city}}
                </div>
                <div class="form-group">
                    {{company_form.country}}
                </div>
                <div class="form-group">
                    {{company_form.years_of_operations}}
                </div>
                <div class="form-group">
                    {{company_form.kra_pin}}
                </div>
                 
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}