{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800"> P.O {{data.name}}</h1>
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% if message.tags == "success" %} 
                        <div class="h4 font-weight-bold text-success  mb-1">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="h4 font-weight-bold text-danger  mb-1">
                            {{ message }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <h6 class="m-0 font-weight-bold text-primary">P.O Details</h6>
            </div>
            <div class="col-2">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="right: 0;">
                    Add Delivery
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
        	<div class="col-6">
        		<p style="color: black;"><strong>Name</strong>: {{data.name}}</p>
                <p style="color: black;"><strong>Currency Name</strong>: {{data.currency_name}}</p>
                <p style="color: black;"><strong>Date Approved</strong>: {{data.date_approve}}</p>
                <p style="color: black;"><strong>Date Planned</strong>: {{data.date_planned}}</p>
                <p style="color: black;"><strong>Invoice Status</strong>: {{data.invoice_status}}</p>
                <p style="color: black;"><strong>Delivery Comments</strong>: </p>{{data.delivery_comments|safe}}
        	</div>
        	<div class="col-6">
        		<p style="color: black;"><strong>Gross</strong>: {{data.amount_total|intcomma}}</p>
        		<p style="color: black;"><strong>Net</strong>: {{data.amount_untaxed|intcomma}}</p>
        		<p style="color: black;"><strong>Tax Amount</strong>: {{data.amount_tax|intcomma}}</p>
                <p style="color: black;"><strong>Delivery Location</strong>: {{data.delivery_location_desc}}</p>
                <p style="color: black;"><strong>Delivery mode</strong>: {{data.delivery_mode}}</p>
        	</div>
            <div class="col-12">
                
                <div class="row">
                    <div class="col-10">
                        
                    </div>
                    <div class="col-2">
                         <button type="button" class="btn btn-primary" style="right: 0;">
                            Download P.O
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="container-fluid"> 
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-link active" aria-selected="true" aria-expanded="true" role="presentation"><a data-toggle="tab" href="#tab1">Order Line</a></li>
        <li class="nav-link"><a data-toggle="tab" href="#tab2">Confirmed Receipts</a></li>
        <li class="nav-link"><a data-toggle="tab" href="#tab3">Delivery</a></li>
        <li class="nav-link"><a data-toggle="tab" href="#tab4">Bills</a></li>
        <li class="nav-link"><a data-toggle="tab" href="#tab5">Payments</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active show">
          
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Price Unit</th>
                                <th>Price Subtotal</th>
                                <th>Tax</th>
                                <th>Date Planned</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data.order_line %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.product_name}}</td>
                                <td>{{d.product_qty}}</td>
                                <td>{{d.price_unit|intcomma}}</td>
                                <td>{{d.price_subtotal|intcomma}}</td>
                                <td>{{d.price_tax|intcomma}}</td>
                                <td>{{d.date_planned}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane fade">
          <!-- Confirmed Receipts  -->
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Destination Name</th>
                                <th>Scheduled Date</th>
                                <th>Deadline Date</th>
                                <th>GRN Attachement</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in receipts %}
                            <tr data-toggle="collapse" data-target="#{{d.id}}" class="clickable">
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.location_dest_name}}</td>
                                <td>{{d.scheduled_date}}</td>
                                <td>{{d.date_deadline}}</td>
                                <td>{{d.grn_srn_attachment}}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Line Items
                                    </button>
                                </td>
                            </tr>
                            <tr class="collapse" id="collapseExample"> 
                                <td colspan="7">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Line Name</th>
                                                <th>Qty</th>
                                                <th>Qty Done</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for l in d.receipt_line %}
                                            <tr>
                                                <td>{{l.id}}</td>
                                                <td>{{l.name}}</td>
                                                <td>{{l.purchase_line_name}}</td>
                                                <td>{{l.product_uom_qty}}</td>
                                                <td>{{l.quantity_done}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div id="tab3" class="tab-pane fade">
            <!-- Delivery -->
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>PO Name</th>
                                <th>Line Name</th>
                                <th>Qty Requested</th>
                                <th>Qty Received</th>
                                <th>Receipt Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in delivery %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.po_name}}</td>
                                <td>{{i.po_line_name}}</td>
                                <td>{{i.po_qty_requested}}</td>
                                <td>{{i.po_qty_received}}</td>
                                <td>{{i.receipt_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab4" class="tab-pane fade">
         <!-- Bills -->
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Ref</th>
                                <th>Gross</th>
                                <th>Net</th>
                                <th>Tax</th>
                                <th>Invoice Date</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in bills %}
                            <tr data-toggle="collapse" data-target="#{{d.id}}" class="clickable">
                                <td>{{b.id}}</td>
                                <td>{{b.name}}</td>
                                <td>{{b.ref}}</td>
                                <td>{{b.amount_total|intcomma}}</td>
                                <td>{{b.amount_untaxed|intcomma}}</td>
                                <td>{{b.amount_tax|intcomma}}</td>
                                <td>{{b.invoice_date}}</td>
                                <td>{{b.date}}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                        Line Items
                                    </button>
                                </td>
                            </tr>
                            <tr class="collapse" id="collapseExample2"> 
                                <td colspan="9">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Product Name</th>
                                                <th>Qty</th>
                                                <th>Unit Price</th>
                                                <th>Tax</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for bo in b.order_line %}
                                            <tr>
                                                <td>{{bo.id}}</td>
                                                <td>{{bo.name}}</td>
                                                <td>{{bo.product_name}}</td>
                                                <td>{{bo.quantity}}</td>
                                                <td>{{bo.price_unit}}</td>
                                                <td>{{bo.tax_id_desc}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div id="tab5" class="tab-pane fade">
         <!-- Payments -->
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Product Name</th>
                                <th>Product Qty</th>
                                <th>Quantiy Received</th>
                                <th>Price Unit</th>
                                <th>Date Planned</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data.order_line %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.product_name}}</td>
                                <td>{{d.product_qty}}</td>
                                <td>{{d.price_unit|intcomma}}</td>
                                <td>{{d.date_planned}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

      </div>
    </div>
    
</div>
{% endblock %}

{% block modal %}
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Delivery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <form method="POST" class="user" id="poForm" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control form-control-user"id="exampleInputEmail" name="date_delivered" aria-describedby="emailHelp" placeholder="Enter Date Delivered" required>
                </div>
                {% for d in data.order_line %}
                <div class="form-group">
                    <label for="{{d.id}}" style="color: black;">{{d.product_name}}</label>
                    <input type="text" class="form-control form-control-user" name="{{d.id}}" id="exampleInputEmail" 
                        aria-describedby="emailHelp" placeholder="Enter Quantity Delivered for {{d.product_name}}" required>
                </div>
                {% endfor %}

                <div class="form-group">
                    <label for="grnAttachement">GRN/SRN Attachment</label>
                    <input type="file" class="form-control"  id="grnAttachement" name="receipt_attachment" placeholder="GRN/SRN Attachement" required> 
                </div>
                
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script type="text/javascript">
     function reloadPage()
     {
       window.location.reload()
     }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#poForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = $(this).serialize(); // Serialize the form data
                $.ajax({
                    type: 'POST',
                    url: "{% url 'post_receipt' po_id=data.id %}", // Replace with your Django endpoint URL
                    data: formData,
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    success: function(response) {
                        if (response.success) {
                            // Handle success response
                            reloadPage();
                            console.log('Form submission success');
                        } else {
                            // Handle failure response
                            console.log('Form submission failed');
                            
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        // Handle error
                        console.log('AJAX request failed'+err+errmsg);
                    }
                });
            });
        });
    </script>
    
{% endblock %}