{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">RFQ DataTable</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Currency Name</th>
                        <th>Scheduled Date</th>
                        <th>RFQ Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in rfq_data %}
                    <tr>
                        <td><a href="{% url 'rfq_detail' rfq_name=a.purchase_req_name %}">{{a.purchase_req_name}}</a></td>
                        <td>{{a.state}}</td>
                        <td>{{a.currency_name}}</td>
                        <td>{{a.schedule_date}}</td>
                        {% if a.rfq_submitted %}
                        <td><input type="checkbox" checked disabled> Submitted</td>
                        {% else %}
                        <td><input type="checkbox" disabled> Not Submitted</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
      var table = document.getElementById("dataTable");
      var tBody = table.querySelector("tbody")
      headerRows = table.querySelectorAll("tr")
      var rows = tBody.querySelectorAll("tr");
      var hCell = document.createElement("th");
        var hRow = headerRows[0];
        hCell.textContent = "#"
        hRow.insertBefore(hCell, hRow.firstChild);


      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cell = document.createElement("td");
        cell.textContent = i + 1; // Set the row number as the cell content
        row.insertBefore(cell, row.firstChild); // Insert the new cell at the beginning of the row
      }
    </script>
{% endblock %}