{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800"> Request For Quotation-{{data.purchase_req_name}}</h1>
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% if message.tags == "success" %} 
                        <div class="h4 font-weight-bold text-success  mb-1">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="h4 font-weight-bold text-danger  mb-1">
                            {{ message }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- DataTales Example -->
{% if submitted_rfq %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">RFQ Submitted</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gross</th>
                        <th>Net</th>
                        <th>Tax</th>
                        <th>State</th>
                        <th>Date Approved</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for a in rfq_content %}
                    <tr>
                        <td><a href="{% url 'vendor_po_details' po_id=a.id %}">RFQ {{a.name}}</a></td>
                        <td>{{a.amount_total|intcomma}}</td>
                        <td>{{a.amount_untaxed|intcomma}}</td>
                        <td>{{a.amount_tax|intcomma}}</td>
                        <td>{{a.state|capfirst}}</td>
                        <td>{{a.date_approve}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% else %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <h6 class="m-0 font-weight-bold text-primary">RFQ Details</h6>
            </div>
            <div class="col-2">
                 
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="container-fluid"> 
        <br>
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-link active" aria-selected="true" aria-expanded="true" role="presentation"><a data-toggle="tab" href="#tab1">Line Items</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active show">
          
          <div class="card-body">
                <div class="table-responsive">
                    <form method="POST" id="poForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="float: right;">
                            Submit Quotation
                        </button>

                        <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    <th>Name</th>
                                    
                                    <th>Required Quantity</th>
                                    <th>UoM</th>
                                    <th>Delivery Date</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>VAT</th>
                                    <th>Net</th>
                                    <th>Tax</th>
                                    <th>Gross</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data.line_ids %}
                                <tr>
                                    
                                    <td>{{d.product_desc}}</td>
                                    
                                    <td>{{d.product_qty}}</td>
                                    <td>{{d.product_uom_name}}</td>
                                    <td>
                                        <input type="date" class="form-control form-control-user date-field" name="date_{{d.id}}" id="date_{{d.id}}" aria-describedby="emailHelp" placeholder="Enter Date Delivered" required oninput="validateDateInput(this, {{d.id}})">
                                        <div id="dateHelperText"></div>
                                    </td>
                                    <td><input type="number" class="form-control form-control-user" name="quantity_{{d.id}}" id="quantity_{{d.id}}" min="1" placeholder="Enter Quantity" required></td>

                                    <td><input type="number" class="form-control form-control-user" name="price_{{d.id}}" id="price_{{d.id}}"  min="1" step=".01" placeholder="Enter Unit Price" required oninput="calcNet({{d.id}});"></td>
                                    {% if request.session.company_id == 1 %}
                                    <td>
                                        <select name="vat_{{d.id}}" id="vat_{{d.id}}" onchange="calcGross({{d.id}})" required>
                                            <option name="0" id="vat_0" value="0">--</option>
                                            <option name="9" id="vat_8" value="0.08">8%</option>
                                            <option name="2" id="vat_16" value="0.16">16%</option>
                                        </select>
                                    </td>
                                    {% else %}
                                    <td>
                                        <select name="vat_{{d.id}}" id="vat_{{d.id}}" onchange="calcGross({{d.id}})" required>
                                            <option name="0" id="vat_0" value="0">--</option>
                                            <option name="4" id="vat_16" value="0.16">16%</option>
                                        </select>
                                    </td>
                                    {% endif %}
                                    <td><p id="net_{{d.id}}"></p></td>
                                    <td><p id="tax_{{d.id}}"></p></td>
                                    <td><p id="gross_{{d.id}}"></p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Sum Totals:</strong></td>
                                    <td></td>
                                    <td><h6 id="total_net" style="color: black;"></h6></td>
                                    <td><h6 id="total_tax" style="color: black;"></h6></td>
                                    <td><h6 id="total_gross" style="color: black;"></h6></td>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </form>
                    <br>
                    <!-- <table style="color: black;" class="table table-bordered" width="100%" cellspacing="0">
                        
                        
                    </table> -->
                </div>
            </div>
        </div>

      </div>
    </div>
    
</div>
{% endif %}
{% endblock %}



{% block script %}

<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script type="text/javascript">
     function reloadPage()
     {
       window.location.reload()
     }
    </script>
    
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#poForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = $(this).serialize(); // Serialize the form data
                $.ajax({
                    type: 'POST',
                    url: "{% url 'post_rfq' rfq_name=data.purchase_req_name %}", // Replace with your Django endpoint URL
                    data: formData,
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    success: function(response) {
                        if (response.success) {
                            // Handle success response
                            location.href="/vendor-rfq"
                            console.log('Form submission success');
                        } else {
                            // Handle failure response
                            console.log('Form submission failed');
                            
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        // Handle error
                        console.log('AJAX request failed'+err+errmsg);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">

        function calcGross(d_id) {
            event.preventDefault();
            console.log("Calc Gross");
            vat = document.getElementById("vat_"+d_id);
            
            net_value = document.getElementById("net_"+d_id).innerHTML;
            console.log("Net ID net_"+d_id);
            
            console.log("Net >"+net_value);
            if (net_value == null || net_value == "") {
                console.log("No Net Value");
            }
            else {
                var selectedOption = parseFloat(vat.options[vat.selectedIndex].value);
                
                if (selectedOption > 0){
                    tax = parseInt(net_value) * selectedOption;
                    gross = parseInt(net_value) + tax
                    document.getElementById("gross_"+d_id).textContent =  gross;
                    document.getElementById("tax_"+d_id).textContent =  tax;
                }
                else{
                    gross = net_value;
                    document.getElementById("gross_"+d_id).innerHTML =  gross;
                    document.getElementById("tax_"+d_id).innerHTML =  0;
                }
                sumTotalGross();
            }
        }

        function calcNet(d_id) {
            quantity = document.getElementById("quantity_"+d_id);
            
            price = document.getElementById("price_"+d_id);
            
            net = parseInt(quantity.value) * parseInt(price.value);
            document.getElementById("net_"+d_id).innerHTML =  net;
            document.getElementById("gross_"+d_id).innerHTML =  net;
            console.log(net);
            sumTotalNet();
        }
           
            
    </script>

    <script type="text/javascript">
        function sumTotalGross(){
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sumGross = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Gross") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sumGross += cellValue;
                formatedGross = sumGross.toLocaleString("en-US");
                document.getElementById("total_gross").textContent =  formatedGross;

              }
            }
            sumTotalTax();

            console.log("Sum of 'Net' column values:", sumGross);

            
        }
    </script>
    <script type="text/javascript">
        function sumTotalTax(){
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sumTax = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Tax") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sumTax += cellValue;
                formatedTax = sumTax.toLocaleString("en-US");
                document.getElementById("total_tax").textContent =  formatedTax;

              }
            }
            

            console.log("Sum of 'Tax' column values:", sumTax);

            
        }
    </script>
    <script type="text/javascript">
        function sumTotalNet(){
            // Assuming your table has an ID "myTable"
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sum = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Net") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sum += cellValue;
                formatedSum = sum.toLocaleString("en-US");
                document.getElementById("total_net").textContent =  formatedSum;

              }
            }
            

            console.log("Sum of 'Net' column values:", sum);

            

        }
    </script>
    <script>
        function calculateTotals(input) {
            {% for d in data.line_ids %}
              var quantity = document.getElementById().value;
              var price = parseInt(input.value);

              if (value > maxValue) {
                input.value = maxValue;
                document.getElementById("helperText").textContent = 'Maximum value allowed is ' + maxValue;
              } else {
                document.getElementById("helperText").textContent = '';
              }
          {% endfor %}
        }
    </script>
    <script>
      var table = document.getElementById("dataTable");
      var tBody = table.querySelector("tbody")
      headerRows = table.querySelectorAll("tr")
      var rows = tBody.querySelectorAll("tr");
      var hCell = document.createElement("th");
        var hRow = headerRows[0];
        hCell.textContent = "#"
        hRow.insertBefore(hCell, hRow.firstChild);


      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cell = document.createElement("td");
        cell.textContent = i + 1; // Set the row number as the cell content
        row.insertBefore(cell, row.firstChild); // Insert the new cell at the beginning of the row
      }
    </script>
    <script>
         $(document).ready(function validateDate() {
            var currentDate = new Date();

            // Get all the date fields in your HTML (assuming they have a common class or other selector)
            var dateFields = document.getElementsByClassName('date-field');

            // Iterate over each date field and set the minimum value to the current date
            for (var i = 0; i < dateFields.length; i++) {
              dateFields[i].min = currentDate.toISOString().split('T')[0];
            }
         });
    </script>
    <script>
        function validateDateInput(input, d_id) {
            var currentDate = new Date();

            // Get all the date fields in your HTML (assuming they have a common class or other selector)
            var dateInput = document.getElementById('date_'+d_id).value();
            if (dateInput < currentDate){
                document.getElementById("dateHelperText").textContent = 'Date cannot be earlier than today';
            }
            
         }
    </script>
    
{% endblock %}

























