{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Create Bill</h1>
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="col-xl-12 col-md-12 mb-4 col-sm-12">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% if message.tags == "success" %} 
                        <div class="h4 font-weight-bold text-success  mb-1">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="h4 font-weight-bold text-danger  mb-1">
                            {{ message }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="card shadow mb-4">
    <div class="card-body">

        <form method="POST" class="user" id="billsForm" enctype="multipart/form-data">  
                {% csrf_token %}
                 <div class="form-group">
                    <label for="date_delivered" style="color: black;"><strong>Date</strong></label>
                    <input type="date" class="form-control form-control-user"id="exampleInputEmail" name="date_delivered" id="date_delivered" aria-describedby="emailHelp" placeholder="Enter Date Delivered" required>
                </div>
                <div class="form-group">
                    <label for="kra_control_invoice_number" style="color: black;"><strong>Control Invoice Number</strong></label>
                    <input type="text" class="form-control form-control-user"id="exampleInputEmail" name="kra_control_invoice_number"  id="kra_control_invoice_number"
                    aria-describedby="emailHelp" placeholder="Enter Control Invoice Number" required>
                    <div id="helperText" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="vendor_invoice_number" style="color: black;"><strong>Invoice Number</strong></label>
                    <input type="text" class="form-control form-control-user"id="exampleInputEmail" name="vendor_invoice_number" id="vendor_invoice_number" aria-describedby="emailHelp" placeholder=" Enter Invoice Number" required>
                </div>
                
                <div class="clearfix"></div>
                <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0" onload="sumNet()">
                    <thead>
                        <tr>
                            
                            <th>Name</th>
                            <th>Billable Quantity</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>VAT</th>
                            <th>Net</th>
                            <th>Tax</th>
                            <th>Gross</th>
                            <th>Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data.order_line %}
                        {% if d.billable_qty == 0 %}
                        <tr style="background: #EFEFEF; color: #AEAEAE;">
                            
                            <td>{{d.product_name}}</td>
                            <td>{{d.billable_qty}}</td>
                            <td><input type="number" class="form-control form-control-user" name="quantity_{{d.id}}" id="quantity_{{d.id}}" min="1" placeholder="Quantity" disabled></td>

                            <td><input type="number" class="form-control form-control-user" name="price_{{d.id}}" id="price_{{d.id}}"  min="1" step=".01" placeholder="Unit Price" disabled></td>
                            <td><center><input type="checkbox" name="vat_{{d.id}}" value="vat" id="vat_{{d.id}}" disabled></center></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{d.billing_method}}</td>
                        </tr>
                        
                        {% else %}
                        <tr>
                            
                            <td>{{d.product_name}}</td>
                            <td>{{d.billable_qty}}</td>
                            <td><input type="number" class="form-control form-control-user" name="quantity_{{d.id}}" id="quantity_{{d.id}}" min="1" placeholder="Enter Quantity" required></td>

                            <td><input type="number" class="form-control form-control-user" name="price_{{d.id}}" id="price_{{d.id}}"  min="1" step=".01" placeholder="Enter Unit Price" required oninput="calcNet({{d.id}});"></td>
                            <td><center><input type="checkbox" name="vat_{{d.id}}" value="vat" id="vat_{{d.id}}" oninput="calcGross({{d.id}});"></center></td>
                            <td><p id="net_{{d.id}}"></p></td>
                            <td><p id="tax_{{d.id}}"></p></td>
                            <td><p id="gross_{{d.id}}"></p></td>
                            <td>{{d.billing_method}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Sum Totals:</strong></td>
                            <td><h6 id="total_net" style="color: black;"></h6></td>
                            <td><h6 id="total_tax" style="color: black;"></h6></td>
                            <td><h6 id="total_gross" style="color: black;"></h6></td>
                            <td></td>
                        </tr>
                    </tfoot>
                    
                </table>
                
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script type="text/javascript">
     function reloadPage()
     {
       window.location.reload()
     }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#billsForm').submit(function(event) {
                event.preventDefault(); // Prevent the default form submission

                var formData = $(this).serialize(); // Serialize the form data
                $.ajax({
                    type: 'POST',
                    url: "{% url 'update_bill' po_id=data.id %}", // Replace with your Django endpoint URL
                    data: formData,
                    dataType: 'json',
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    success: function(response) {
                        if (response.success) {
                            // Handle success response
                            llocation.href="/vendor-pos/{{data.id}}"
                            console.log('Form submission success');
                        } else {
                            // Handle failure response
                            console.log('Form submission failed');
                            reloadPage();
                            
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        // Handle error
                        console.log('AJAX request failed'+err+errmsg);
                    }
                });
            });
        });
    </script>
    <script>
        function validateInput(input) {
          var value = parseInt(input.value);
          
          $.ajax(
          	{
                type: 'GET',
                url: "{% url 'confirm_kra' %}", // Replace with your Django endpoint URL
                data: {invoice_number: value},
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },
                success: function(response) {
                    if (response.success) {
                        // Handle success response
                        console.log('KRA submission success');
                    } else {
                        // Handle failure response
                        document.getElementById("helperText").textContent = 'Invalid KRA invoice number ';
                        
                    }
                },
                error: function(xhr, errmsg, err) {
                    // Handle error
                    console.log('AJAX request failed'+err+errmsg);
                }
         	});
        }
    </script>
    <script type="text/javascript">

        function calcGross(d_id) {
            event.preventDefault();
            console.log("Calc Gross");
            vat = document.getElementById("vat_"+d_id);
            net_value = document.getElementById("net_"+d_id).innerHTML;
            console.log("net_"+d_id);
            
            console.log("Net >"+net_value);
            if (net_value == null || net_value == "") {
                console.log("No Net Value");
            }
            else {
                
                if (vat.checked){
                    tax = parseInt(net_value) * 0.16;
                    gross = parseInt(net_value) + tax
                    document.getElementById("gross_"+d_id).textContent =  gross;
                    document.getElementById("tax_"+d_id).textContent =  tax;
                }
                else{
                    gross = net_value;
                    document.getElementById("gross_"+d_id).innerHTML =  gross;
                    document.getElementById("tax_"+d_id).textContent =  0;
                }
                sumTotalGross();
            }
        }

        function calcNet(d_id) {
            quantity = document.getElementById("quantity_"+d_id);
            
            price = document.getElementById("price_"+d_id);
            
            net = parseInt(quantity.value) * parseInt(price.value);
            document.getElementById("net_"+d_id).innerHTML =  net;
            document.getElementById("gross_"+d_id).innerHTML =  net;
            console.log(net);
            sumTotalNet();
        }
           
            
    </script>

    <script type="text/javascript">
        function sumTotalGross(){
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sumGross = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Gross") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sumGross += cellValue;
                document.getElementById("total_gross").textContent =  sumGross.toLocaleString("en-US");

              }
            }
            sumTotalTax();

            console.log("Sum of 'Net' column values:", sumGross);

            
        }
    </script>
    <script type="text/javascript">
        function sumTotalTax(){
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sumTax = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Tax") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sumTax += cellValue;
                formatedTax = sumTax.toLocaleString("en-US");
                document.getElementById("total_tax").textContent =  formatedTax;

              }
            }
            

            console.log("Sum of 'Tax' column values:", sumTax);

            
        }
    </script>
    <script type="text/javascript">
        function sumTotalNet(){
            // Assuming your table has an ID "myTable"
            var table = document.getElementById("dataTable");
            var rows = table.rows;
            var headerRow = rows[0];
            var sum = 0;

            // Find the index of the "Net" column in the header row
            var columnIndex = -1;
            for (var i = 0; i < headerRow.cells.length; i++) {
              if (headerRow.cells[i].textContent.trim() === "Net") {
                columnIndex = i;
                break;
              }
            }

            // Start from index 1 to skip the header row
            for (var i = 1; i < rows.length-1; i++) {
              var cell = rows[i].cells[columnIndex];
              var cellValue = parseFloat(cell.textContent);
              
              if (!isNaN(cellValue)) {
                sum += cellValue;
                document.getElementById("total_net").textContent =  sum.toLocaleString("en-US");

              }
            }
            

            console.log("Sum of 'Net' column values:", sum);

            

        }
    </script>
    <script>
      var table = document.getElementById("dataTable");
      var tBody = table.querySelector("tbody")
      headerRows = table.querySelectorAll("tr")
      var rows = tBody.querySelectorAll("tr");
      var hCell = document.createElement("th");
        var hRow = headerRows[0];
        hCell.textContent = "#"
        hRow.insertBefore(hCell, hRow.firstChild);


      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cell = document.createElement("td");
        cell.textContent = i + 1; // Set the row number as the cell content
        row.insertBefore(cell, row.firstChild); // Insert the new cell at the beginning of the row
      }
    </script>
    
{% endblock %}